<div class="app-container">
  <div class="logo-container">
    <img ngSrc="vivo.png" alt="VIVO" width="300" height="400">
  </div>
  <div class="chat-container">
    <div class="chat-header">
      <mat-toolbar>
        <img ngSrc="vivo.png" alt="VIVO-CHAT" width="30" height="30">
        <span>EvaVivo</span>
      </mat-toolbar>
    </div>
    <div class="chat-messages">
      <div class="message-container scroll">

      </div>
    </div>
    <div class="chat-input">
      <mat-form-field class="form-field">
        <input matInput placeholder="Type message"/>
      </mat-form-field>
      <mat-icon>send</mat-icon>
    </div>
  </div>
</div>
