<div class="app-container">
  <div class="logo-container">
    <img ngSrc="./vivo.png" alt="VIVO" width="300" height="400" priority>
  </div>
  <div class="chat-container">
    <div class="chat-header">
      <mat-toolbar>
        <img ngSrc="./vivo.png" alt="VIVO-CHAT" width="30" height="40" priority>
        <span>EvaVivo</span>
      </mat-toolbar>
    </div>
    <div class="chat-messages scroll">
      <div class="message-container ">
        <div [class]="sysMessage.type" *ngFor="let sysMessage of messages">
          <img *ngIf="sysMessage.type === 'bot'" ngSrc="./vivo.png" alt="VIVO-CHAT-BOT" width="20" height="30" priority>
          <div class="content">{{ sysMessage.message }}</div>
          <mat-icon *ngIf="sysMessage.type === 'user'">person</mat-icon>
        </div>
      </div>
    </div>
    <div class="chat-input">
      <mat-form-field class="form-field">
        <input (keydown.enter)="sendMessage(message)" #message matInput placeholder="Type message"/>
      </mat-form-field>
      <mat-icon (click)="sendMessage(message)" onKeyDown="">send</mat-icon>
    </div>
  </div>
</div>
