/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --mat-sys-primary: #D5C6D9;
  --mat-sys-on-surface-variant: #D5C6D9;
  --mdc-filled-text-field-input-text-color: #FFFFFF;
}

.mdc-line-ripple::before {
  color: #D5C6D9;
}

/*Scroll*/
.scroll {
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: #D5C6D9;
}

.scroll::-webkit-scrollbar-thumb {
  background: #BC96BE;
  border-radius: 6px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #614D62;
}
